{{!--
    This partial renders a box containing information about a single operation of the service
    (such as calling a POST on the "/pets" resource).
    @param {Operation} operation a Swagger-Operation object.
    @param {string} method the http-method (GET, POST, DELETE, PUT, PATCH)
    @api public
--}}
<div id="operation-{{htmlId path}}-{{htmlId method}}" class="swagger--panel-operation-{{method}} panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="operation-name">{{toUpperCase method}}</span>
            <strong>{{path}}</strong>
            <a class="hash-link instructions" href="#operation-{{htmlId path}}-{{htmlId method}}">#</a>
        </h3>
        {{#if tags}}
            Tags:
            {{#each tags}}
                <a href="#tag-{{htmlId .}}">{{.}}</a>{{#unless @last}}, {{/unless}}
            {{/each}}
        {{/if}}
    </div>
    <div class="panel-body">
        <section class="sw-operation-description">
            {{md operation.description}}
        </section>
        <h4>Parameters</h4>
        {{>swagger/parameters parameters=parameters}}
        {{! The _request_body variable is filled with the parameter `body` by the preprocessor. }}
        {{#if _show_requst_body_section}}
            <h4>Request body</h4>
            {{>swagger/request-body consumes=operation.consumes body=_request_body}}
        {{/if}}
        <h4>Responses</h4>
        {{>swagger/responses}}
        {{>swagger/security}}
    </div>
</div>